n8n-workflows/relances-devis-auto.json
{
  "name": "Relances Devis Auto",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Calculer Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const now = new Date();\nconst j7_from = new Date(now); j7_from.setDate(j7_from.getDate() - 8);\nconst j7_to = new Date(now); j7_to.setDate(j7_to.getDate() - 7);\nconst j14_from = new Date(now); j14_from.setDate(j14_from.getDate() - 15);\nconst j14_to = new Date(now); j14_to.setDate(j14_to.getDate() - 14);\nreturn [{ json: { j7_from: j7_from.toISOString().split('T')[0], j7_to: j7_to.toISOString().split('T')[0], j14_from: j14_from.toISOString().split('T')[0], j14_to: j14_to.toISOString().split('T')[0] } }];"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Devis J7 Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 150],
      "parameters": {
        "method": "GET",
        "url": "=https://ralsqmyubficxdlpwuod.supabase.co/rest/v1/devis?select=id,numero,montant_ht,tva,date_validite,artisan_id,chantiers(nom,clients(nom,email))&statut=eq.envoye&created_at=gte.{{$json.j7_from}}&created_at=lt.{{$json.j7_to}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Split J7",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1100, 150],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Preparer Email J7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 150],
      "parameters": {
        "jsCode": "const devis = $input.first().json;\nconst client = devis.chantiers.clients;\nconst montant_ttc = (devis.montant_ht * (1 + devis.tva / 100)).toFixed(2);\nconst date_val = devis.date_validite || 'non précisée';\nreturn [{ json: { sendgrid_body: JSON.stringify({ personalizations: [{ to: [{ email: client.email, name: client.nom }], subject: `Votre devis ${devis.numero} est en attente de signature` }], from: { email: 'k.steeve.dorival@gmail.com', name: 'TrustBuild-IA' }, content: [{ type: 'text/plain', value: `Bonjour ${client.nom},\\n\\nJe me permets de revenir vers vous concernant le devis n\\u00b0${devis.numero} d'un montant de ${montant_ttc} \\u20ac TTC que je vous ai transmis il y a 7 jours.\\n\\nCe devis reste valable jusqu'au ${date_val}. N'h\\u00e9sitez pas \\u00e0 me contacter pour toute question.\\n\\nCordialement,\\nTrustBuild-IA` }] }) } }];"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "SendGrid J7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 150],
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{SENDGRID_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "rawBody": "={{ $json.sendgrid_body }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Devis J14 Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 480],
      "parameters": {
        "method": "GET",
        "url": "=https://ralsqmyubficxdlpwuod.supabase.co/rest/v1/devis?select=id,numero,montant_ht,tva,date_validite,artisan_id,chantiers(nom,clients(nom,email))&statut=eq.envoye&created_at=gte.{{$json.j14_from}}&created_at=lt.{{$json.j14_to}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Split J14",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1100, 480],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Preparer Email J14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 480],
      "parameters": {
        "jsCode": "const devis = $input.first().json;\nconst client = devis.chantiers.clients;\nconst montant_ttc = (devis.montant_ht * (1 + devis.tva / 100)).toFixed(2);\nconst date_val = devis.date_validite || 'non précisée';\nreturn [{ json: { sendgrid_body: JSON.stringify({ personalizations: [{ to: [{ email: client.email, name: client.nom }], subject: `Derni\\u00e8re relance \\u2014 Devis ${devis.numero}` }], from: { email: 'k.steeve.dorival@gmail.com', name: 'TrustBuild-IA' }, content: [{ type: 'text/plain', value: `Bonjour ${client.nom},\\n\\nJe reviens une derni\\u00e8re fois concernant le devis n\\u00b0${devis.numero} (${montant_ttc} \\u20ac TTC) envoy\\u00e9 il y a 14 jours.\\n\\nSans retour de votre part avant le ${date_val}, je consid\\u00e8rerai ce devis sans suite. N'h\\u00e9sitez pas \\u00e0 me contacter.\\n\\nCordialement,\\nTrustBuild-IA` }] }) } }];"
      }
    },
    {
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "SendGrid J14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 480],
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{SENDGRID_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "rawBody": "={{ $json.sendgrid_body }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Calculer Dates", "type": "main", "index": 0 }]]
    },
    "Calculer Dates": {
      "main": [[
        { "node": "Devis J7 Supabase", "type": "main", "index": 0 },
        { "node": "Devis J14 Supabase", "type": "main", "index": 0 }
      ]]
    },
    "Devis J7 Supabase": {
      "main": [[{ "node": "Split J7", "type": "main", "index": 0 }]]
    },
    "Split J7": {
      "main": [
        [{ "node": "Preparer Email J7", "type": "main", "index": 0 }],
        []
      ]
    },
    "Preparer Email J7": {
      "main": [[{ "node": "SendGrid J7", "type": "main", "index": 0 }]]
    },
    "Devis J14 Supabase": {
      "main": [[{ "node": "Split J14", "type": "main", "index": 0 }]]
    },
    "Split J14": {
      "main": [
        [{ "node": "Preparer Email J14", "type": "main", "index": 0 }],
        []
      ]
    },
    "Preparer Email J14": {
      "main": [[{ "node": "SendGrid J14", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
